<div class="modal-content">
        {{ render_partial('admin/partials/users/__user_modal_header.html', user=user, hd="Odblokuj użytkownika") }}
      <div class="modal-body">
         {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
            <div class="row mb-2 mx-3 text-center">
                <p class="text-muted">Usunąć użytkownika {{ user.name }}? Ta akcja spowoduje usunięcie wszystkich
                    treści powiązanych z użytkownikiem.</p>
            </div>

          <div class="forms-inputs mb-2 mx-3">
                <input type="button" class="btn btn-danger sub-button py-3" value="Usuń użytkownika"
                hx-post="/admin/delete_user/{{ user.id }}">
            </div>

            <div class="forms-inputs mb-2 mx-3">
                <input type="button" class="btn btn-secondary sub-button py-3"
                   hx-get="/admin/get_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click" value="Anuluj">
            </div>
      </div>
    </div>

