<tr>
    <td> {{ user.name }} </td>
    <td> {{ user.email }} </td>
    <td class="d-none d-sm-table-cell px-0"> <i class="table-icon ti-big bx bx-{{ 'check' if user.suspended else 'x' }}"></i> </td>
    <td class="d-none d-sm-table-cell px-0"> <i class="table-icon ti-big bx bx-{{ 'check' if user.is_admin else 'x' }}"></i> </td>
    <td class="d-sm-table-cell px-0"><i class='table-icon bx bx-search-alt animated-icon'
        hx-get="/admin/get_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i></td>
</tr>
