<div class="modal-header">
        <h1 class="modal-title fs-5 pe-2" id="exampleModalLabel">{{hd}}</h1>
        <span style="float: right">
            <i class='bx bx-user ti-big animated-icon' hx-get="/admin/get_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i>
            <i class='bx bx-pencil ti-big animated-icon'  hx-get="/admin/edit_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i>
            {% if user.suspended %}
                <i class='bx bx-lock-open-alt ti-big animated-icon'
                hx-get="/admin/unban_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i>
            {% else %}
                <i class='bx bx-lock-alt ti-big animated-icon'
                hx-get="/admin/suspend_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i>
            {% endif %}
            <i class='bx bx-trash ti-big animated-icon text-danger'
             hx-get="/admin/delete_user/{{ user.id }}" hx-target="#dialog" hx-trigger="click"></i>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 10px"></button>
        </span>
      </div>