<div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profil użytkownika</h1>
        <i class='bx bx-pencil float-end'></i>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {{ user.name }}
        {{ user.email }}

      </div>
    </div>