<div class="modal-content">
        {{ render_partial('admin/partials/users/__user_modal_header.html', user=user, hd="Profil użytkownika") }}
      <div class="modal-body">
         {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-6">
                <!--placeholder-->
                <i class='bx bxs-user-rectangle' style="font-size: 200px"></i>

            </div>
            <div class="col-6">
                <h6>Informacje o użytkowniku</h6>
                <p>Login: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Administrator: {{'Tak' if user.is_admin else 'Nie' }}</p>
                <p>Aktywny: {{'Tak' if user.is_active else 'Nie' }} </p>
            </div>
        </div>

        <div class="row mx-3">
            <h6>Dodatkowe informacje</h6>
            <p><a href="/admin/reviews?query={{user.name}}">Recenzje użytkownika</a></p>
            <p>Dołączył: {{ user.created_at }}</p>
            <p>Zawieszony: {{'Tak' if user.suspended else 'Nie' }}</p>
            {% if user.suspended %}
                {% if user.suspended_to %}
                    <p>Zawieszony do: {{ user.suspended_to }}</p>
                {% else %}
                    <p>Zawieszony permanentie</p>
                {% endif %}

                {% if user.suspension_reason %}
                   <p> Powód zawieszenia: {{ user.suspension_reason }}</p>
                {% endif %}
            {% endif %}
        </div>

      </div>
    </div>