{% extends './shared/site_base.html' %}

{% block title%}
    {{ movie.title }}
{% endblock %}

{% block nav %}
    {%  include './shared/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-lg mb-5">
            <div class="row">

                    <div class="col-12 col-md-9 my-3">
                        <div class=" mx-md-2 content-box">
                            <div class="row my-2 p-0">

                                <div class="col-auto">
                                    <img  src="{{ image }}" width="200px" style="border-radius: 0.25em">
                                </div>
                                <div class="col-auto">
                                    <h5>{{ movie.title }}</h5>
                                    <p>Premiera {{ movie.release if  movie.release else 'TBA'}} </p>
                                    {% if movie.desc %}
                                        <h6>Opis</h6>
                                        <p>{{ movie.desc }}</p>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 my-3" hx-get="/update_reviews/{{ movie.id }}"
                     hx-trigger="ratingUpdate from:body">
                        {{ render_partial('home/partials/rating_card.html', avg=avg, count=count) }}
                    </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-9">
                    <div class=" mx-md-2 content-box" id="my_review" hx-trigger="load" hx-get="/get_review_box/{{ movie.id }}">
                    </div>
                </div>

                <div class="col-12 mt-3 col-md-9">
                     <div class=" mx-md-2 content-box">
                         <a class="btn btn-dark sub-button py-3 {{ "disabled" if not text_count else "" }}" href="/reviews/{{ movie.id }}" role="button">Sprawdź recenzje filmu</a>
                     </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block script %}

    <script>
    var globalRating = 1
    var gHoverRating = 0
    </script>
{% endblock %}