{% extends './shared/site_base.html' %}

{% block title%}
    {{ movie.title }}
{% endblock %}

{% block nav %}
    {%  include './shared/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-lg mb-5">
            <div class="row">

                    <div class="col-12 col-md-9 my-3">
                        <div class=" mx-md-2 content-box">
                            <div class="row my-2 p-0">

                                <div class="col-auto">
                                    <img  src="{{ image }}" width="200px" style="border-radius: 0.25em">
                                </div>
                                <div class="col-auto">
                                    <h5>{{ movie.title }}</h5>
                                    <p>Premiera {{ movie.release if  movie.release else 'TBA'}} </p>
                                    {% if movie.desc %}
                                        <h6>Opis</h6>
                                        <p>{{ movie.desc }}</p>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 my-3">
                        <div class="card text-white bg-success mb-3 review-card
                        {% if avg %}
                            {% if avg <= 4.5 %}
                                review-color-bad
                            {% elif avg <= 7.5 %}
                                review-color-average
                            {% else %}
                                review-color-good
                            {% endif %}
                        {% else %}
                        no-review
                        {% endif %}
                        " style="max-width: 18rem;">
                          <div class="card-header">{{ "Liczba ocen: " + count|string if count else "" }}</div>
                          <div class="card-body px-0">
                            <p class="card-title text-center {{ "avg" if avg else "no-avg"}}">{{ avg if avg else "Brak ocen"}}</p>
                          </div>
                        </div>
                    </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-9">
                    <div class=" mx-md-2 content-box" hx-trigger="load" hx-get="/get_review_box/{{ movie.id }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}

    <script>
    </script>
{% endblock %}