{% extends './shared/site_base.html' %}

{% block title%}
   Recenzja {{ movie.title }}
{% endblock %}

{% block nav %}
    {%  include './shared/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper ">
          <div class="container " style="max-width: 900px">
                  <div class="content-box my-2">
                    <div class="row">
                    <a href="/reviews/{{ movie.id }}" class="text-dark"><h5>Powrót do listy recenzji</h5></a>
                            <div class="col-auto">
                                <img  src="{{ image}}" width="120px" style="border-radius: 0.25em">
                            </div>
                            <div class="col-auto">
                                <h5><a class="text-dark" href="/movie/{{ movie.id }}">{{ movie.title }}</a></h5>
                                <p>Premiera {{ movie.release if  movie.release else 'TBA'}} </p>
                                {% if avg %}
                                    <h5>{{ avg|round(1, 'floor') }} <i class='bx bxs-star text-warning'></i></h5>
                                {% else %}
                                    <p>Brak ocen</p>
                                {% endif %}
                            </div>
                    </div>
                </div>

                  <div class="content-box">

                      <div class="row m-0 p-0">
                    <div class="d-flex justify-content-between py-2" >

                    <div class="m-0 p-0">
                        <a class="text-dark" href="/user/{{ user.id }}"> <h5> {{ user.name}}</h5> </a>
                    </div>

                        <div class="m-0 p-0">
                           <h5> {{ review.rating|int }} <i class="bx bxs-star text-warning"></i> </h5>
                        </div>
                    </div>

                      <h5>{{ review.header }}</h5>

                      <p>{{ review.review_text }}</p>

                      <p class="text-muted">Zamieszczono {{ review.created_at }}</p>

                </div>
              </div>

          <div class="content-box my-2" hx-get="/reply_box/{{ review.id }}" hx-trigger="load" id="reply_box">
          </div>

          <div class="content-box my-2 mb-5" hx-get="/get_replies/{{ review.id }}" hx-trigger="load" id="replies">
          </div>

          </div>
    </div>
{% endblock %}


{% block script %}

    <script>
    var globalRating = 1
    var gHoverRating = 0
    </script>
{% endblock %}