{% extends './shared/site_base.html' %}

{% block title%}
    Szukaj
{% endblock %}

{% block nav %}
    {%  include './shared/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container mb-5" style="max-width: 1000px">
            <div class="my-3 mx-md-2 content-box">

                <div class="search-box">
                    <div class="input-group ">
                        <div class="form-floating">
                            <input type="text" class="form-control custom_input" id="search-box"
                               placeholder=" " name="query" maxlength="360"
                               value = "{{ request.args.query }}"
                                hx-get="/search"
                                hx-trigger="keyup changed delay:250ms"
                                hx-target="#search-result"
                                hx-push-url="true">
                            <label class="ms-3 formlab">Znajdź Film</label>
                        </div>
                        <i class="bx bx-x position-absolute d-none search-icon"
                           hx-get="/search"
                           hx-trigger="click"
                           hx-target="#search-result"
                           hx-push-url="true"
                           id="search-icon">
                        </i>
                    </div>
                </div>

                <div class="m-0 p-0 " id="search-result" hx-get="/search" hx-trigger="load"
                hx-include="[name='query']">

                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

    <script>
    var auxBack = performance.getEntriesByType("navigation");

    if (auxBack[0].type === "back_forward") {
        location.reload(true);
    }

        document.addEventListener("DOMContentLoaded", function (event) {
            const searchBox = document.getElementById("search-box")
            const searchIcon = document.getElementById("search-icon")

            show_query_cleaner(searchBox)

            searchBox.addEventListener("keyup", function(){show_query_cleaner(this)})

            searchIcon.addEventListener("click", function(){
                searchBox.value = "";
                this.classList.add("d-none")
            })

            function show_query_cleaner(searchbox){
                if(searchbox.value!==""){
                    if (document.getElementById('search-result').innerHTML.trim() !== `<div class="dot dot-div my-3"></div>`){
                        document.getElementById('search-result').innerHTML = `<div class="dot dot-div my-3"></div>`}
                    searchIcon.classList.remove("d-none")
                }else{
                    searchIcon.classList.add("d-none")
                }
            }

        })
    </script>
{% endblock %}