<div class="modal-content">
      {{ render_partial('admin/partials/movies/__movie_modal_header.html', movie=movie, image=image, hd="Edytuj Film") }}
      <div class="modal-body">
         {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <form hx-post="/admin/edit_movie/{{ movie.id }}" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
        <div class="col-6">
            <img id="preview" src="{{ image }}" class="img-fluid" alt="your image"/>
        </div>

            <div class="col-6">

          <div class="forms-inputs mb-2 mx-3">
                    <div class="form-floating ">
                            <input type="text" class="form-control custom_input
                            {% if errors %}
                                {{ "error" if errors.title else "" }}
                            {% endif %}
                            " placeholder=" " name="title" value="{{ movie.title }}"  maxlength="64">
                            <label class="ps-3 formlab
                            {% if errors %}
                                {{ "error" if errors.title else "" }}
                            {% endif %}
                            ">Tytuł filmu</label>
                    </div>
                    <span class="error-span error">
                        {% if errors %}
                            {{ errors.title if errors.title else "" }}
                        {% endif %}
                    </span>
                </div>

            <div class="row px-2 mb-3 mx-3">
                <label for="release">Premiera</label>
                <input id="release" name="release" class="form-control custom_input {% if errors %}
                            {{ "error" if errors.release else "" }}
                        {% endif %}" value="{{ movie.release }}" type="date">
               </div>

            <div class="row px-2 mb-3 mx-3">
                <label for="desc">Opis filmu</label>
                <textarea id="desc" name="desc" class="form-control custom_input" >{{ movie.desc }}</textarea>
            </div>

            <div class="row px-2 mb-3 mx-3">
                <label for="poster">Plakat</label>
                <input type="file" id="poster" class="btn btn-dark sub-button custom-file text-center" name="poster" accept="image/png, image/jpeg"
                 onchange="preview_event(event)"/>

                <span class="error-span error">
                        {% if errors %}
                            {{ errors.poster if errors.poster else "" }}
                        {% endif %}
                    </span>
            </div>

                        </div>
            </div>


                <div class="forms-inputs mb-2 mx-3">
                    <input type="submit" class="btn btn-dark sub-button py-3" value="Edytuj film">
                </div>

                <div class="forms-inputs mb-2 mx-3">
                    <input type="button" class="btn btn-secondary sub-button py-3" data-bs-dismiss="modal" value="Anuluj">
                </div>
        </form>
      </div>
    </div>

<script src="{{url_for('static',filename='js/auth.js')}}"></script>
<script>

    function preview_event(event){
         if(event.target.files.length > 0){
         let image = document.getElementById('preview');
         image.src = URL.createObjectURL(event.target.files[0]);
         image.style.display = "block";
         }

    }
</script>