<div class="d-none" hx-get="/admin/movies/page/{{movies.page}}"
     hx-trigger="listRefresh from:body"
     hx-include="[name='query']"
     hx-target="#user_table">
</div>

{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }} alert-dismissible fade show" role="alert">
        {{ message | safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if movies %}
    <table class="table table-responsive text-center">
      <thead>
        <tr>
          <td>Tytuł</td>
          <td>Premiera</td>
           <td></td>
        </tr>
      </thead>
      <tbody>
            {% for movie in movies %}
                <tr>
                    <td> {{ movie.title }} </td>
                    <td> {{ movie.release if  movie.release else 'TBA'}} </td>
                    <td class="d-sm-table-cell px-0"><i class='table-icon bx bx-search-alt animated-icon'
                      hx-get="/admin/get_movie/{{ movie.id }}" hx-target="#dialog" hx-trigger="click"></i></td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
    <nav>
          <ul class="pagination justify-content-center mb-1">
                <li class="page-item {{ 'disabled' if not movies.has_prev else ''}}"
                    {% if movies.has_prev %}
                        hx-get="/admin/movies/page/{{ (movies.page-1) }}"
                        hx-trigger="click" hx-swap="innerHTML" hx-target="#user_table"
                        hx-push-url="true" hx-include="[name='query']"
                    {% endif %}>
                  <a class="page-link paginator page-nav" href="#" tabindex="-1"><i class='bx bx-arrow-back'></i></a>
                </li>

             {% for page in movies.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                 {% if page %}
                    <li class="page-item" hx-get="/admin/movies/page/{{ page }}"
                        hx-trigger="click" hx-swap="innerHTML" hx-target="#user_table"
                        hx-push-url="true" hx-include="[name='query']">
                        <a class="page-link paginator {{ 'curr-page' if movies.page == page else ''}}" href="#">{{ page }}</a></li>

                 {% endif %}

             {% endfor %}
            <li class="page-item {{ 'disabled' if not movies.has_next else ''}}"
                {% if movies.has_next %}
                    hx-get="/admin/movies/page/{{ (movies.page+1) }}"
                    hx-trigger="click" hx-swap="innerHTML" hx-target="#user_table"
                    hx-push-url="true" hx-include="[name='query']"
                {% endif %}>
              <a class="page-link paginator page-nav" href="#"><i class='bx bx-arrow-back bx-rotate-180'></i></a>
            </li>
          </ul>
    </nav>
{% else %}
    <h5 class="text-center text-muted mb-0">Brak Filmów</h5>
{% endif %}