:root {
    --header-height: 3.25rem;
    --nav-width: 68px;
    --header-color: #f7f6fb;
    --first-color: #2d2e2d;
    --first-color-light: #757575;
    --white-color: #fdfdfd;
    --normal-font-size: 1rem;
    --z-fixed: 999;
    --shadow: -3px 3px 5px rgba(100, 100, 100, 0.55) !important;
  }



.main-height {
    height: calc(100vh - var(--header-height));
}

.dropdown-menu {
        box-shadow: var(--shadow);
    }

@keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(var(--header-height));
        opacity: 1;
    }


}

@-webkit-keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(var(--header-height));
        opacity: 1;
    }

}

.card-col{
    transition: 0.35s;
}

.admin-card{
    border-radius: 1px;
    box-shadow: var(--shadow);
    background: white;
    border: 0;
}



.admin-card .card-header{
    border: 0;
    background: white;
    border-top: 2px solid;
}

.admin-card i {
    color: white;

    padding: 10px;
    font-size: 35px;
    border-radius: 90px;
}

.card-body{
    transition: 0.5s;
}

.card-color-1 .card-header{
    border-color: #2d8afd !important;
    border-radius: 1px !important;
}

.card-color-1 i{
    background: #2d8afd;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

@media screen and (min-width: 768px) {
    body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 1.25rem);
    }

    .header {
      height: calc(var(--header-height) + 1rem);
    }

    .header_img {
      width: 40px;
      height: 40px;
    }

    .card-body ~ .card-body{
      padding-left: 55px;
    }

    .header_img img {
      width: 45px;
    }

    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0;
    }



    .main-height {
        height: calc(100vh - var(--header-height) - 1rem);
    }

    .page-title{
    padding-left: calc(var(--nav-width) - 1.5rem);
    }

    .title-pd{
    padding-left: calc(var(--nav-width) + 130px);
    }

    .body-pd {
      padding-left: calc(var(--nav-width) + 174px);
    }
}