:root {
    --header-height: 3.25rem;
    --nav-width: 68px;
    --header-color: #f7f6fb;
    --first-color: #2d2e2d;
    --first-color-light: #757575;
    --white-color: #fdfdfd;
    --normal-font-size: 1rem;
    --z-fixed: 999;
    --shadow: -3px 3px 5px darkgray !important;

  }

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: 0.5s;
  }

a {
    text-decoration: none;
}



.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--header-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
  }

.header > span{
  flex-grow:1;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}



.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
    box-shadow: 3px 0 5px darkgray !important;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
    cursor: pointer;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav_link:hover {
    transform: translateY(-4px);
    color: var(--white-color);
}

.nav_link.active:hover{
    transform: none;
}

.nav_icon {
    font-size: 1.25rem;
}

.l-navbar.show {
    left: 0;
    width: calc(var(--nav-width) + 156px);
}

.page-title{
    transition: 0.5s;
    padding-left: calc(var(--nav-width) - 3rem);
}

.title-pd{
    padding-left: calc(var(--nav-width) - 1rem);
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--white-color);
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.main-height {
    height: calc(100vh - var(--header-height));
}

.dropdown-menu {
        box-shadow: var(--shadow);
    }

@keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(var(--header-height));
        opacity: 1;
    }


}

@-webkit-keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(var(--header-height));
        opacity: 1;
    }

}

.card-col{
    transition: 0.4s;
}

.admin-card{
    border-radius: 1px;
    box-shadow: var(--shadow);
    background: white;
    border: 0;
}



.admin-card .card-header{
    border: 0;
    background: white;
    border-top: 2px solid;
}

.admin-card i {
    color: white;

    padding: 10px;
    font-size: 35px;
    border-radius: 90px;
}

.card-body{
    transition: 0.5s;
}

.card-color-1 .card-header{
    border-color: #2d8afd !important;
    border-radius: 1px !important;
}

.card-color-1 i{
    background: #2d8afd;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

@media screen and (min-width: 768px) {
    body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 1.25rem);
    }

    .header {
      height: calc(var(--header-height) + 1rem);
    }

    .header_img {
      width: 40px;
      height: 40px;
    }

    .card-body ~ .card-body{
      padding-left: 55px;
    }

    .header_img img {
      width: 45px;
    }

    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0;
    }



    .main-height {
        height: calc(100vh - var(--header-height) - 1rem);
    }

    .page-title{
    padding-left: calc(var(--nav-width) - 1.5rem);
    }

    .title-pd{
    padding-left: calc(var(--nav-width) + 130px);
    }

    .body-pd {
      padding-left: calc(var(--nav-width) + 174px);
    }
}