:root{
    --input-color: #818080;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0  30px white inset !important;

}

body{
    background-color: rgba(249, 250, 251);
}

.slideIn{
    animation-duration: 0.3s;
   -webkit-animation-duration: 0.3s;
   animation-fill-mode: both;
   -webkit-animation-fill-mode: both;
   -webkit-animation-name: slideIn;
   animation-name: slideIn;
}

a:focus, button:focus, input:focus{
     outline: none !important;
    box-shadow: none !important;
}

a{
    text-decoration: None;
}

.custom_input, .custom_input:-webkit-autofill{
     width: 100%;
     border: 0;
     border-radius: 0;
     border-bottom: 2px solid var(--input-color);
     outline: 0;
     font-size: 1rem;
     padding-left: 5px !important;
     padding-right: 5px !important;
     padding-bottom: 7px !important;
     color: var(--input-color) !important;
    -webkit-text-fill-color: var(--input-color);
     background-color: transparent;
     transition: border-color 0.2s, color 0.2s;
}

/*inputs customization*/
.custom_input:focus, .custom_input:-webkit-autofill:focus{
    color: black !important;
    -webkit-text-fill-color:black;
    border-bottom: 2px solid black;
}

.error-span{
    display: inline-block;
    height: 1rem;
}

.error, .error:focus{
    color: red !important;
    border-color: red !important;
    -webkit-text-fill-color: red !important;
}

.check-input{
    border-radius: 0 !important;
    border-color: var(--input-color) !important;

}

.check-input:checked{
    background-color: var(--input-color) !important;

}

.formlab{
    color: var(--input-color) !important;
    opacity: 1 !important;
    border: 0 !important;
}

/*loading animation*/
.dot, .dot:before, .dot:after {
  border-radius: 90px;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: wave 0.75s infinite ease-in-out;}


.dot {
  color: #484747;
  font-size: 7px;
  position: relative;
  animation-delay: -0.15s;
    top: -5px;
}

.dot-div{
  margin: auto;
}

.dot:before,
.dot:after {
  content: '';
  position: absolute;
}

.dot:before {
  left: -3em;
  animation-delay: -0.3s;
}
.dot:after {
    left: 3em;
}

@keyframes wave {
    0%, 100% { box-shadow: 0 2em 0 -0.8em }
    50% { box-shadow: 0 2em 0 0 }
}