:root{
    --input-color: #818080;
    --shadow: -1px 2px 3px rgba(0, 0, 0, 0.08) !important;
    --white-color: #fdfdfd;
}



.navbar{
    background: #212529 !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

.nav-link{
    color: var(--white-color) !important;
}

.navbar-toggler{
    border: none !important;
}



body{
    background-image: url("../graph/logo.svg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left -25px bottom -15px;
}

.content-wrapper{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@media screen and (max-width: 992px){
 body{
     background-size: 25%;
 }
}


@media screen and (max-width: 570px){
 body{
     background-position: left -25px bottom 30px;
     background-size: 35%;
 }
 .v-center{
     padding: 0px 0.75rem;
 }
}



.v-center{
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.log-alert{
    max-width: 500px !important;
}

.alert{
    width: 100% !important;
    box-shadow: var(--shadow);
}

.log{
    max-width: 500px !important;
    box-shadow: var(--shadow);
    border-radius: 1.25rem !important;
    border: 0 !important;
}





.sub-button{
    border-radius: 45px !important;
    width: 100%;
}


.form-icon{
    max-width: 50px;
}

.form-logo{
    display: flex;
        align-items: center;
        justify-content: center
}

.f-ico-con{
    flex-basis: 10%;

}

.form-logo-lab{
    order: 2;
}

.hamburger{
    color: var(--white-color);
    font-size: 2rem;
}

@keyframes slideIn {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }


}

@-webkit-keyframes slideIn {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}



@media screen and (min-width: 992px) {
    .dropdown-menu {
        box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.28) !important;
    }
}

.nav-link{
    transition: 0.15s;
}

.nav-link:hover {
    transform: translateY(-2px);
    color: var(--white-color);
    text-decoration: underline;
}