{% extends './admin/admin_base.html' %}

{% block title %}
    Strona główna
{% endblock %}

{% block page %}
    Strona główna
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row mx-md-2">
        <div class="col-md-6 col-lg-4 col-xl-3 card-col">
            <div class="card admin-card card-color-1 h-100">
                <div class="card-header"><h6 class="m-0">Użytkownicy</h6></div>
                <div class="card-body pt-0">
                    <h2 class="text-end"><a href="{{ url_for("admin.admin_users") }}"><i class="bx bx-user f-left"></i></a><span >{{ stats.user_count }}</span></h2>
                </div>
                <div class="card-body pt-0">
                    <p class="mb-1">Administratorzy<span class="f-right">{{ stats.admins }}</span></p>
                    <p class="mb-0">Zawieszeni<span class="f-right">{{ stats.banned }}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 card-col mt-3 mt-lg-0">
            <div class="card admin-card card-color-2 h-100">
                <div class="card-header"><h6 class="m-0">Filmy</h6></div>
                <div class="card-body pt-0">
                    <h2 class="text-end"><a href="{{ url_for("admin.admin_movies") }}"><i class="bx bx-movie f-left"></i></a><span >{{ stats.movie_count }}</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 card-col mt-3 mt-lg-0">
            <div class="card admin-card card-color-3 h-100">
                <div class="card-header"><h6 class="m-0">Recenzje</h6></div>
                <div class="card-body pt-0">
                    <h2 class="text-end"><a href="{{ url_for("admin.admin_reviews") }}"><i class="bx bx-edit f-left"></i></a><span >{{ stats.review_count }}</span></h2>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block script %}
    <script>
        color_link("main_link")
    </script>
{% endblock %}