{% extends './admin/admin_base.html' %}

{% block title %}
   Filmy
{% endblock %}

{% block page %}
    Filmy
{% endblock %}

{% block content %}
    <div class="container-fluid px-0 px-md-3 pb-1">
        <div class="mx-md-2 content-box mb-3 pt-1 search-bar">

                <div class="search-box">
                    <div class="input-group ">
                        <div class="form-floating">
                            <input type="text" class="form-control custom_input" id="search-box"
                               placeholder=" " name="query" maxlength="360"
                               value = "{{ request.args.query }}"
                                hx-get="/admin/movies" hx-target="#user_table"
                                hx-trigger="keyup changed delay:250ms" hx-push-url="true">
                            <label class="ms-3 formlab">Znajdź Film</label>
                        </div>
                        <i class="bx bx-x position-absolute d-none search-icon"
                           hx-get="/admin/movies" hx-target="#user_table"
                           hx-trigger="click" hx-push-url="true"
                           id="search-icon">
                        </i>
                    </div>
                </div>

            <div class="lower-col">
                    <i class='bx bx-video-plus animated-icon' style="font-size: 3rem"
                    hx-get="/admin/add_movie" hx-target="#dialog"
                    hx-trigger="click"
                    ></i>
                </div>
        </div>
        <div class="my-3 mx-md-2 content-box" id="user_table" hx-get="/admin/movies/page/{{movies.page}}" hx-include="[name='query']"
             hx-trigger="load">
            <div class="dot dot-div"></div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


{% endblock %}

{% block script %}

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            color_link("movies_link")
            const searchBox = document.getElementById("search-box")
            const searchIcon = document.getElementById("search-icon")

            show_query_cleaner(searchBox)

            searchBox.addEventListener("keyup", function(){show_query_cleaner(this)})

            searchIcon.addEventListener("click", function(){
                searchBox.value = "";
                this.classList.add("d-none")
            })

            function show_query_cleaner(searchbox){
                if(searchbox.value!==""){
                    searchIcon.classList.remove("d-none")
                }else{
                    searchIcon.classList.add("d-none")
                }
            }

        })


    </script>
{% endblock %}