{% if movie.release%}
    {% if movie.release <= today%}

        {% if current_user.is_authenticated %}

            <form hx-post="/add_review/{{ movie.id }}" autocomplete="off" enctype="multipart/form-data">
            <div class="row mx-3">
                <input type="hidden" name="rating" id="rating">
                <div id="stars" class="d-flex py-2" onmouseleave="resetRating()">
                </div>
            </div>

            <div class="forms-inputs mb-2 mx-3">
                    <div class="form-floating ">
                            <input type="text" class="form-control custom_input
                            {% if errors %}
                                {{ "error" if errors.header else "" }}
                            {% endif %}
                            " placeholder=" " name="header" value="{{ request.form.header | trim}}"  maxlength="128">
                            <label class="ps-3 formlab
                            {% if errors %}
                                {{ "error" if errors.header else "" }}
                            {% endif %}
                            ">Nagłówek recenzji</label>
                    </div>
                    <span class="error-span error">
                        {% if errors %}
                            {{ errors.email if errors.email else "" }}
                        {% endif %}
                    </span>
                </div>

            <div class="row px-2 mb-3 mx-3">
                <label for="review">Recenzja</label>
                <textarea id="review" name="review" class="form-control custom_input"></textarea>
            </div>

            <div class="forms-inputs mb-2 mx-3 mt-1">
                    <input type="submit" class="btn btn-dark sub-button py-3" value="Dodaj recenzję">
            </div>

            </form>

            <script>


    let globalRating = 1
    let gHoverRating = 0

     updateRating(1)

    function updateRating(rating){
        let html = ''

        for (let i = 1; i <= 10; i++) {
            let icon = "bx bx-star"
            if (rating>=i)
                icon = "bx bxs-star"
            html += `<div onclick="savedRating(`+i+`)" onmouseenter="hoverRating(`+i+`)">
                        <i class="`+icon+` px-1 fs-2 text-warning"></i>
                    </div>`
        }

        document.getElementById('stars').innerHTML = html
        document.getElementById('rating').value = globalRating
        }

        function hoverRating(rating){
            if (rating !== gHoverRating){
                gHoverRating = rating
                updateRating(rating)
            }
        }

        function savedRating(rating){
            globalRating = rating
            updateRating(rating)
        }

        function resetRating(){
            gHoverRating = 0
            updateRating(globalRating)
        }

</script>





















        {% else %}
            <p class="text-center m-0 p-0"><a href="{{url_for('auth.login')}}">Zaloguj się</a> aby ocenić film</p>
        {% endif %}



    {% else %}
        <h5 class="text-center text-muted mb-0">Ocenanie filmu możliwe po premierze</h5>
    {% endif %}
{% else %}
    <h5 class="text-center text-muted mb-0">Ocenanie filmu możliwe po premierze</h5>
{% endif %}