{% extends './shared/site_base.html' %}

{% block title%}
    Przypomnij hasło
{% endblock %}

{% block content %}
    <div class="v-center">
        <div class="container log-alert px-0">
             {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="container log card px-3 px-sm-5 pt-5 pb-4">
            <form class="m-0 p-0" method="POST" id="auth-form" action="">
                <div class="form-logo mb-2">
                    <div class="f-ico-con">
                        <a class="m-0 p-0"  href="{{url_for('home.index')}}"> <img src="{{ url_for('static', filename="graph/icon2.svg") }}" class="img-fluid  mx-auto d-block form-icon"> </a>
                    </div>
                    <div class="form-logo-lab">
                        <h4 class="text-center pt-3">Resetowanie hasła</h4>
                    </div>
                </div>

                <div class="forms-inputs mb-2 mx-3">
                    <div class="form-floating">
                            <input type="text" class="form-control custom_input
                            {% if errors %}
                                {{ "error" if errors.name else "" }}
                            {% endif %}"
                               placeholder=" " name="name" maxlength="360"
                               value="{{ request.form.name | trim}}">
                        <label class="ps-3 formlab
                        {% if errors %}
                            {{ "error" if errors.name else "" }}
                        {% endif %}
                        ">Login lub Email</label>
                    </div>

                    <span class="error-span error">
                        {% if errors %}
                            {{ errors.name if errors.name else "" }}
                        {% endif %}
                    </span>
                </div>


                <div class="forms-inputs mb-2 mx-3">
                    <button class="g-recaptcha btn btn-dark sub-button py-3" data-sitekey="{{ site_key }}"
                    data-callback='onSubmit'
                    data-action='submit'> Wyślij link do zmiany hasła </button>
                </div>
                <p class="text-muted small mx-3 pt-3 mb-1 pb-0">
                    Jeśli zapomniałeś hasła, podaj email lub login powiązany z Twoim kontem. Wyślemy Ci link umożliwiający zmianę hasła.
                </p>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{url_for('static',filename='js/auth.js')}}">
    </script>
{% endblock %}