{% extends './shared/site_base.html' %}

{% block title%}
    Resetuj hasło
{% endblock %}

{% block content %}
    <div class="v-center">
        <div class="container log-alert px-0">
             {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="container log card px-3 px-sm-5 py-5">
            <form class="m-0 p-0" method="POST" action="">
                <div class="form-logo mb-2">
                    <div class="f-ico-con">
                        <a class="m-0 p-0"  href="{{url_for('home.index')}}"> <img src="{{ url_for('static', filename="graph/icon2.svg") }}" class="img-fluid  mx-auto d-block form-icon"> </a>
                    </div>
                    <div class="form-logo-lab">
                        <h4 class="text-center pt-3">Resetowanie hasła</h4>
                    </div>
                </div>

                <div class="forms-inputs mb-2 mx-3">
                    <div class="form-floating">
                        <input type="password" class="form-control custom_input
                        {% if errors %}
                            {{ "error" if errors.password else "" }}
                        {% endif %}
                        " placeholder=" " name="password"  maxlength="32">
                        <label class="ps-3 formlab
                        {% if errors %}
                            {{ "error" if errors.password else "" }}
                        {% endif %}
                        ">Hasło</label>
                    </div>
                    <span class="error-span error">

                    </span>
                </div>

                <div class="forms-inputs mb-2 mx-3">
                    <div class="form-floating">
                        <input type="password" class="form-control custom_input
                         {% if errors %}
                            {{ "error" if errors.password else "" }}
                        {% endif %}
                        " placeholder=" " name="confirm_password"  maxlength="32">
                        <label class="ps-3 formlab
                         {% if errors %}
                            {{ "error" if errors.password else "" }}
                        {% endif %}
                        ">Potwierdź hasło</label>
                    </div>
                    <span class="error-span error">
                         {% if errors %}
                            {{ errors.password if errors.password else "" }}
                        {% endif %}

                    </span>
                </div>


                <div class="forms-inputs mt-4 mb-2 mx-3">
                    <input type="submit" class="btn btn-dark sub-button py-3" value="Resetuj hasło">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='js/auth.js')}}">
    </script>
{% endblock %}